<table style='width:100%'>  
  <tbody>
    <tr>
      <td class='timelable'>11:00 AM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>
    <tr>
      <td class='timelable'>12:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>  
    <tr>
      <td class='timelable'>1:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>
    <tr>
      <td class='timelable'>2:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>  
    <tr>
      <td class='timelable'>3:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>
    <tr>
      <td class='timelable'>4:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>  
    <tr>
      <td class='timelable'>5:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>  
    </tr>
    <tr>
      <td class='timelable'>6:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td> 
    </tr>
    <tr>
      <td class='timelable'>7:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>
    <tr>
      <td class='timelable'>8:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>
    <tr>
      <td class='timelable'>9:00 PM</td>
      <td class='prep'></td>
      <td class='oven'></td>
      <td class='stove'></td>
      <td class='grill'></td>
    </tr>  
  </tbody>
</table>