<div class='white-box'>
  <div class='pull-right'><h5>
    Party Date: <%= @party.date.strftime('%a. %B %d, %Y') %><br>
    Party Time: <%= @party.date.strftime('%I:%M %p') %><br>
    Guest Count:
  </h5></div> 

  <h2 class='header'><%= @party.name %></h2>
    <h3>Dashboard</h3>
  <br>
  <div class='row party'>
    <div class='col-md-2 guest'>
      <p>Guest List</p>
    </div>
    <div class='col-md-2 menu'>
      <p>Menu and Contribution List</p>
    </div>
    <div class='col-md-2 grocery'>
      <p>Grocery List</p>
    </div>
    <div class='col-md-2 table-decor'>
      <p>Tableware and Decorations</p>
    </div>
    <div class='col-md-2 timeline'>
      <p><%= link_to 'Timeline Planner', timeline_party_path(@party) %></p>
    </div>
  </div>
</div>