<div class='white-box'>
  <div class='pull-right'><h5>
    Party Date: <%= @party.date.strftime('%a. %B, %d %Y') %><br>
    Party Time: <%= @party.date.strftime('%I:%M:%S %p') %><br>
    Guest Count:
  </h5></div> 

  <h2 class='header'><%= @party.name %></h2>
    <h3>Dashboard</h3>
  <br>
  <h4>
  <div class='row'>
    <div class='col-md-2 guest'>
      <p>Guest list</p>
    </div>
    <div class='col-md-2 menu'>
      <p>Menu and Contribution List</p>
    </div>
    <div class='col-md-2 grocery'>
      <p>Grocery List</p>
    </div>
    <div class='col-md-2 table-decor'>
      <p>Tableware and Decor</p>
    </div>
    <div class='col-md-2 timeline'>
      <p><%= link_to 'Timeline', timeline_party_path(@party) %></p>
    </div>
  </div>
  </h4>
</div>