<h1 class='text-center'><%= @party.name %></h1>

<!-- <h4><%#= @party.date %></h4> fix date format! -->

<h3>
  <p>Guest list</p>
  <p>Menu and Contribution List</p>
  <p>Grocery List</p>
  <p>Tableware and Decor</p>
  <p><%= link_to 'Timeline', timeline_party_path(@party) %></p>
</h3>