<h1>About PartyTable</h1>
<p>Figuring out how to plan a party is just as difficult as actually planning a party. PartyTable is a sophisticated task management system that lets you efficiently plan a party.  
</p>
