.task-list {
  background-color: #FFFFFF;
  height: 80vh;
  border: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.timeline-planner {
  background-color: #FFFFFF;
  height: 80vh;
  border: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.white-box {
  background-color: #FFFFFF;
  height: 80vh;
  padding: 15px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  background-color: #F1ECEC;
  width: 22px;
}



