.white-box {
  background-color: #FFFFFF;
  height: 85vh;
  padding: 15px;
}

.row {
  text-align: center;
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
  .col-md-2 {
    height: 410px;
    margin: 0 4px;
    p {
      font-size: 16px;
      margin-top: 40px;
    }
  }
  .guest {
    background-color: #00B9B2;
  }
  .menu {
    background-color: #BE008A;
  }
  .grocery {
    background-color: #FE7C00;
  }
  .table-decor {
    background-color: #47A800;
  }
  .timeline {
    background-color: #0063A7;
  }
}

.task-list {
  background-color: #FFFFFF;
  height: 90vh;
  border: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.timeline-planner {
  background-color: #FFFFFF;
  height: 90vh;
  border: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.blue-date-box {
  width: 530px;
  padding: 2px 0 1px 0;
  margin: 25px 40px 0px 80px;
  color: #FFFFFF;
  background-color: #0063A7;
}

table {
  margin: 20px 40px 80px 80px;
}

td {
  width: 110px;
  height: 20px;
  border-bottom: 1px solid black;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-collapse: collapse;
  background-color: #F1ECEC;
}

th {
  width: 90px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 40px;
  background-color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
}

.stationlable {
  height: 70px;
  border-bottom: none;
  background-color: #F1ECEC;
  font-size: 18px;
  text-align: center;
}

.timelable {
  background-color: #FFFFFF;
  text-align: center;
}

#add-task {
  position: absolute;
  left: 45px;
}

.draggable { 
  z-index: 1
}

i.glyphicon.glyphicon-remove {
  top: 2px;
  border-radius: 15%;
  color: #D60C0C;
  font-weight: lighter;
}


