.task-list {
  background-color: #FFFFFF;
  height: 80vh;
  border: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.timeline-planner {
  background-color: #FFFFFF;
  height: 80vh;
  border: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.white-box {
  background-color: #FFFFFF;
  height: 80vh;
  padding: 15px;
}
