// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.y {
  background-color: #16ABC5; /* blue */
  color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-color: #7f16c5; /* purple */ 
  margin: 30px 0; 
  h1 {
    color: #ffffff;
    font-weight: bold;
  }
}